<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happy.toast.user">
	
	<select id="userSelectAll" resultType="UDto">
		SELECT USERID,PASSWORD,NICKNAME,ADDRESS,PHONE,EMAIL,AUTH,REGDATE 
			FROM TOASTUSER 
	</select>
	
	<insert id="userInsert" parameterType="UDto">
		INSERT INTO TOASTUSER
			VALUES(#{userid},#{password},#{nickname},#{address},#{phone},#{email},'U',SYSDATE)			
	</insert>
</mapper>