<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- 13^^번 -->
	<typeAliases>
		<typeAlias type="com.happy.toast.dtos.ToastCalDTO" alias="CDto"/>
		<typeAlias type="com.happy.toast.dtos.ToastPagingDTO" alias="PDto"/>
		<typeAlias type="com.happy.toast.dtos.ToastVisitDTO" alias="VDto"/>
		<typeAlias type="com.happy.toast.dtos.ToastUserDTO" alias="UDto"/>
		<typeAlias type="com.happy.toast.dtos.ToastScheduleDTO" alias="SDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="/sqls/ToastCalMapper.xml"/>
		<mapper resource="/sqls/ToastVisitMapper.xml"/>
		<mapper resource="/sqls/ToastUserMapper.xml"/>
		<mapper resource="/sqls/ToastScheduleMapper.xml"/>
	</mappers>

</configuration>
